.section2 {
    background-color: #F8F8F8;
}

.container_main {
    display: flex;
    flex-wrap: wrap;
    margin-top: 115px;
    justify-content: space-evenly;
}

.text_block {
    margin-top: 80px;
    margin-left: 150px;
}

.header_text {
    font-size: 36px;
    font-weight: 700px;
    line-height: 50px;
    margin-bottom: 145px;
    margin-top: 0;
}

.main_subtitle {
    max-width: 420px;
    font-size: 24px;
    font-weight: 400;
    line-height: 36px;
    font-family: Mulish;
    margin-top: 30px;
    margin-bottom: 40px;
}

.main_author {
    font-weight: bold;
    font-size: 22px;
    line-height: 48px;
    font-weight: 700;
    font-family: 'Inter';
}

.main_author_subtitle {
    font-size: 18px;
    line-height: 48px;
    font-weight: 400;
    font-family: 'Inter';
}

.star_icon {
    max-width: 25px;
    max-height: 24px;
}

.image_main {
    border-radius: 10px;
    margin-top: 10em;
    margin-right: 200px;
    animation: scale 5s 1;

}

.text_block {
    margin-top: 80px;
    margin-left: 150px;
}