.footer {
    height: 200px;
    background-color: #F8F8F8;
}

.footer_title {
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
}

.copyright {
    font-weight: 300;
    font-size: 17px;
    line-height: 28px;
    color: #848484;
    font-family: 'Mulish';
    margin-top: 40px;
    margin-bottom: 0;
}

.footer_logo {
    margin-top: 30px;
}

.line {
    width: 1200px;
    height: 0.6px;
    background-color: #C4C4C4;
    border: none;
    margin-top: 35px;
    margin-bottom: 30px;
}

.footer_icons {
    margin: 0 auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    max-width: 300px;
}



