@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@200&display=swap');

@import "./animations.css";
@import "./header.css";
@import "./main_section.css";
@import "./about_author.css";
@import "./posts.css";
@import "./footer.css";


a {
    text-decoration: none;
}

button {
    cursor: pointer;
}


@media screen and (max-width: 1200px) {
    .about_us {
        justify-content: space-evenly;
    }


    .thousand {
        margin-right: 0;
    }
    @keyframes floating {
        0% {
            transform: translateY(30px);
        }
  
        50% {
            transform: translateY(120px);
            transform: translateX(10px);
        }
  
        100% {
            transform: translateY(30px);
        }
    }

    .image_main {
        margin-right: 0;
        margin-bottom: 20px;
    }

    .posts {
        flex-wrap: wrap;
        justify-content: space-evenly;
        margin-bottom: 30px;
    }
    .post {
        margin: 20px 0;
    }
    .section3 .container {
        height: 100%;
    }
    .line {
        max-width: 100%;
    }


}


@media screen and (max-width: 1024px) { 
    .about_us {
        align-items: center;
    }

    .buttons {
        padding-right: 20px;
    }

    .thousand {
        width: 100%;
        height: 100%;
    }
    .text_block {
        margin-left: 0;
    }
}


@media screen and (max-width: 768px) {
    .about_us {
        flex-direction: column;
    }
    .about_text {
        text-align: center;
    }
    body.lock {
        overflow: hidden;
    }
    button.button_login, button.button_register {
        display: none;
    }
    .header_body {
        position:  fixed;
        top: 0;
        width: 100%;
        z-index: 1;
        background-color: #FFF;
        margin-top: 0;
        left: 0;
    }
    .header_logo {
        margin-left: 20px;
    }
    .header_burger {
        display: block;
        position: fixed;
        width: 30px;
        height: 20px;
        z-index: 2;
        top: 20px;
        right: 3%;
    }
    .header_burger span {
        position: absolute;
        background-color: #FB8F1D;
        left: 0;
        width: 100%;
        height: 2px;
        top: 10px;
        transition: 0.3s;
    }
    .header_burger::before,
    .header_burger::after {
        content: '';
        background-color: #FB8F1D;
        position: absolute;
        width: 100%;
        height: 2px;
        left: 0;
        transition: 0.3s;
    } 
    .header_burger::before {
        top: 0;
    }
    .header_burger::after {
        bottom: 0;
    }
    .header_burger.active span {
        transform: scale(0);
    }
    .header_burger.active::before {
        transform: rotate(45deg);
        top: 10px;
    }
    .header_burger.active::after {
        transform: rotate(-45deg);
        bottom: 10px;
    }
    .navigation_top {
        position: fixed;
        top: -100%;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #b18a60;
        z-index: 1;
        justify-content: center;
        transition: 0.3s;
    }
    .navigation_top.active  {
        top: 0;
    }
    .ul_navigation {
        flex-direction: column;
        padding-left: 0;
        height: 20%;
        margin-top: 0%;
        justify-content: space-evenly;
    }
    a.header_navigation#home, a.header_navigation {
        color: #FFF;
        font-size: 25px;
    }

    .footer_title {
        max-width: 80%;
    }
}

@media screen and (max-width: 425px) {
    .posts_block {
        flex-wrap: wrap;
    }
    .posts {
        margin-top: 25px;
    }
    .footer_title {
        flex-wrap: wrap;
        justify-content: space-evenly;
    }
    .copyright {
        text-align: center;
        margin-top: 20px;
    }
    .footer_logo {
        margin-top: 20px;
    }
    .image_main {
        width: 100%;
    }
    
}

